Resuming from page 1...
Fetching page 1/250...
Fetching page 2/250...
Fetching page 3/250...
Fetching page 4/250...
Fetching page 5/250...
Fetching page 6/250...
Fetching page 7/250...
Fetching page 8/250...
Fetching page 9/250...
Fetching page 10/250...
Fetching page 11/250...
Fetching page 12/250...
Fetching page 13/250...
Fetching page 14/250...
Fetching page 15/250...
Fetching page 16/250...
Fetching page 17/250...
Fetching page 18/250...
Fetching page 19/250...
Fetching page 20/250...
Fetching page 21/250...
Fetching page 22/250...
Fetching page 23/250...
Fetching page 24/250...
Fetching page 25/250...
Fetching page 26/250...
Fetching page 27/250...
Fetching page 28/250...
Fetching page 29/250...
Fetching page 30/250...
Fetching page 31/250...
Fetching page 32/250...
Fetching page 33/250...
Fetching page 34/250...
Fetching page 35/250...
Fetching page 36/250...
Fetching page 37/250...
Fetching page 38/250...
Fetching page 39/250...
Fetching page 40/250...
Fetching page 41/250...
Fetching page 42/250...
Fetching page 43/250...
Fetching page 44/250...
Fetching page 45/250...
Fetching page 46/250...
Fetching page 47/250...
Fetching page 48/250...
Fetching page 49/250...
Fetching page 50/250...
Fetching page 51/250...
Fetching page 52/250...
Fetching page 53/250...
Fetching page 54/250...
Fetching page 55/250...
Fetching page 56/250...
Fetching page 57/250...
Fetching page 58/250...
Fetching page 59/250...
Fetching page 60/250...
Fetching page 61/250...
Fetching page 62/250...
Fetching page 63/250...
Fetching page 64/250...
Fetching page 65/250...
Fetching page 66/250...
Request failed (attempt 1/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Fetching page 67/250...
Fetching page 68/250...
Fetching page 69/250...
Fetching page 70/250...
Fetching page 71/250...
Fetching page 72/250...
Fetching page 73/250...
Fetching page 74/250...
Fetching page 75/250...
Fetching page 76/250...
Fetching page 77/250...
Fetching page 78/250...
Fetching page 79/250...
Fetching page 80/250...
Fetching page 81/250...
Fetching page 82/250...
Fetching page 83/250...
Fetching page 84/250...
Fetching page 85/250...
Fetching page 86/250...
Fetching page 87/250...
Fetching page 88/250...
Request failed (attempt 1/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Request failed (attempt 1/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Request failed (attempt 1/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Fetching page 89/250...
Fetching page 90/250...
Fetching page 91/250...
Fetching page 92/250...
Fetching page 93/250...
Fetching page 94/250...
Fetching page 95/250...
Request failed (attempt 1/3): ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
Request failed (attempt 2/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Max retries exceeded with url: /3/movie/915935/credits?api_key=fd03025c1b89acca9d64d24dd165339a (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x000001CCE338C710>: Failed to resolve 'api.themoviedb.org' ([Errno 11001] getaddrinfo failed)"))
Fetching page 96/250...
Fetching page 97/250...
Fetching page 98/250...
Fetching page 99/250...
Fetching page 100/250...
Fetching page 101/250...
Fetching page 102/250...
Fetching page 103/250...
Fetching page 104/250...
Fetching page 105/250...
Fetching page 106/250...
Fetching page 107/250...
Fetching page 108/250...
Fetching page 109/250...
Fetching page 110/250...
Fetching page 111/250...
Fetching page 112/250...
Fetching page 113/250...
Fetching page 114/250...
Fetching page 115/250...
Fetching page 116/250...
Fetching page 117/250...
Fetching page 118/250...
Fetching page 119/250...
Fetching page 120/250...
Fetching page 121/250...
Fetching page 122/250...
Fetching page 123/250...
Fetching page 124/250...
Fetching page 125/250...
Fetching page 126/250...
Fetching page 127/250...
Fetching page 128/250...
Fetching page 129/250...
Fetching page 130/250...
Fetching page 131/250...
Fetching page 132/250...
Fetching page 133/250...
Fetching page 134/250...
Fetching page 135/250...
Fetching page 136/250...
Fetching page 137/250...
Fetching page 138/250...
Fetching page 139/250...
Fetching page 140/250...
Fetching page 141/250...
Fetching page 142/250...
Fetching page 143/250...
Fetching page 144/250...
Fetching page 145/250...
Fetching page 146/250...
Fetching page 147/250...
Fetching page 148/250...
Fetching page 149/250...
Fetching page 150/250...
Fetching page 151/250...
Fetching page 152/250...
Fetching page 153/250...
Fetching page 154/250...
Fetching page 155/250...
Fetching page 156/250...
Fetching page 157/250...
Fetching page 158/250...
Fetching page 159/250...
Fetching page 160/250...
Fetching page 161/250...
Fetching page 162/250...
Fetching page 163/250...
Fetching page 164/250...
Fetching page 165/250...
Fetching page 166/250...
Fetching page 167/250...
Fetching page 168/250...
Fetching page 169/250...
Fetching page 170/250...
Fetching page 171/250...
Fetching page 172/250...
Fetching page 173/250...
Fetching page 174/250...
Fetching page 175/250...
Fetching page 176/250...
Fetching page 177/250...
Fetching page 178/250...
Fetching page 179/250...
Fetching page 180/250...
Fetching page 181/250...
Fetching page 182/250...
Fetching page 183/250...
Fetching page 184/250...
Fetching page 185/250...
Fetching page 186/250...
Fetching page 187/250...
Fetching page 188/250...
Fetching page 189/250...
Fetching page 190/250...
Fetching page 191/250...
Fetching page 192/250...
Fetching page 193/250...
Fetching page 194/250...
Fetching page 195/250...
Fetching page 196/250...
Fetching page 197/250...
Fetching page 198/250...
Fetching page 199/250...
Fetching page 200/250...
Fetching page 201/250...
Fetching page 202/250...
Fetching page 203/250...
Fetching page 204/250...
Fetching page 205/250...
Fetching page 206/250...
Fetching page 207/250...
Fetching page 208/250...
Fetching page 209/250...
Fetching page 210/250...
Fetching page 211/250...
Fetching page 212/250...
Fetching page 213/250...
Fetching page 214/250...
Fetching page 215/250...
Fetching page 216/250...
Fetching page 217/250...
Fetching page 218/250...
Fetching page 219/250...
Fetching page 220/250...
Fetching page 221/250...
Fetching page 222/250...
Fetching page 223/250...
Fetching page 224/250...
Fetching page 225/250...
Fetching page 226/250...
Fetching page 227/250...
Fetching page 228/250...
Fetching page 229/250...
Fetching page 230/250...
Request failed (attempt 1/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Request failed (attempt 2/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Request failed (attempt 3/3): HTTPSConnectionPool(host='api.themoviedb.org', port=443): Read timed out. (read timeout=10)
Fetching page 231/250...
Fetching page 232/250...
Fetching page 233/250...
Fetching page 234/250...
Fetching page 235/250...
Fetching page 236/250...
Fetching page 237/250...
Fetching page 238/250...
Fetching page 239/250...
Fetching page 240/250...
Fetching page 241/250...
Fetching page 242/250...
Fetching page 243/250...
Fetching page 244/250...
Fetching page 245/250...
Fetching page 246/250...
Fetching page 247/250...
Fetching page 248/250...
Fetching page 249/250...
Fetching page 250/250...

✅ Done! Saved to 'movies_final.csv' and 'credits_final.csv'

In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('movies_final.csv')
credits = pd.read_csv('credits_final.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,150000000,"['Family', 'Comedy', 'Adventure', 'Fantasy']",https://www.minecraft-movie.com,950387,"['friendship', 'surrealism', 'exploration', 'p...",en,A Minecraft Movie,Four misfits find themselves struggling with o...,990.9442,"['Warner Bros. Pictures', 'Legendary Pictures'...","['Sweden', 'United States of America']",2025-03-31,323380122,101,['English'],Released,Be there and be square.,A Minecraft Movie,6.134,354
1,9895000,"['Action', 'Thriller', 'Mystery', 'Crime']",NaN,1195430,"['remake', 'based on movie', 'bollywood']",hi,देवा,"Dev Ambre, a ruthless cop, loses his memory in...",353.3204,"['Zee Studios', 'Roy Kapur Films']",['India'],2025-01-31,0,155,['हिन्दी'],Released,NaN,Deva,5.432,22
2,0,"['Action', 'Adventure']",https://www.amazon.com/gp/video/detail/B0DCYJL1GN,1229730,[],fr,Carjackers,"By day, they're invisible—valets, hostesses, a...",297.0009,['Gaumont'],['France'],2025-03-27,0,97,['Français'],Released,NaN,Carjackers,6.200,95
3,180000000,"['Action', 'Thriller', 'Science Fiction']",https://www.marvel.com/movies/captain-america-...,822119,"['hero', 'superhero', 'revenge', 'aftercredits...",en,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,283.1613,"['Marvel Studios', 'Kevin Feige Productions']",['United States of America'],2025-02-12,411409721,119,"['English', '日本語', 'Español']",Released,The future favors the brave.,Captain America: Brave New World,6.099,1254
4,0,"['Action', 'Thriller']",NaN,1125899,[],en,Cleaner,When a group of radical activists take over an...,263.1996,"['Anton', 'Qwerty Films']",['United Kingdom'],2025-02-19,0,96,['English'],Released,The stakes are a thousand feet high.,Cleaner,6.508,181

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,950387,A Minecraft Movie,"['Jason Momoa', 'Jack Black', 'Sebastian Eugen...","['Producer: Roy Lee', 'Director: Jared Hess', ..."

In [5]:
movies = movies.merge(credits,on='title')

In [6]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [7]:
print(movies.head())

   movie_id                             title  \
0    950387                 A Minecraft Movie
1   1195430                              Deva
2   1447439                              Deva
3   1229730                        Carjackers
4    822119  Captain America: Brave New World

                                            overview  \
0  Four misfits find themselves struggling with o...
1  Dev Ambre, a ruthless cop, loses his memory in...
2  Dev Ambre, a ruthless cop, loses his memory in...
3  By day, they're invisible—valets, hostesses, a...
4  After meeting with newly elected U.S. Presiden...

                                         genres  \
0  ['Family', 'Comedy', 'Adventure', 'Fantasy']
1    ['Action', 'Thriller', 'Mystery', 'Crime']
2    ['Action', 'Thriller', 'Mystery', 'Crime']
3                       ['Action', 'Adventure']
4     ['Action', 'Thriller', 'Science Fiction']

                                            keywords  \
0  ['friendship', 'surrealism', 'exploration', 'p...
1          ['remake', 'based on movie', 'bollywood']
2          ['remake', 'based on movie', 'bollywood']
3                                                 []
4  ['hero', 'superhero', 'revenge', 'aftercredits...

                                                cast  \
0  ['Jason Momoa', 'Jack Black', 'Sebastian Eugen...
1  ['Shahid Kapoor', 'Pooja Hegde', 'Pavail Gulat...
2  ['Shahid Kapoor', 'Pooja Hegde', 'Pavail Gulat...
3  ['Zoé Marchal', 'Franck Gastambide', 'Bosh', '...
4  ['Anthony Mackie', 'Harrison Ford', 'Danny Ram...

                                                crew
0  ['Producer: Roy Lee', 'Director: Jared Hess', ...
1  ['Director: Rosshan Andrrews', 'Producer: Sidd...
2  ['Director: Rosshan Andrrews', 'Writer: Sumit ...
3                         ['Director: Kamel Guemra']
4  ['Producer: Kevin Feige', 'Director: Julius On...

In [8]:
movies.isnull().sum()

movie_id     0
title        0
overview    51
genres       0
keywords     0
cast         0
crew         0
dtype: int64

In [9]:
 movies.dropna(inplace=True)

In [10]:
movies.duplicated().sum()

np.int64(2117)

In [11]:
movies = movies.drop_duplicates().reset_index(drop=True)

In [12]:
movies.iloc[0].genres

"['Family', 'Comedy', 'Adventure', 'Fantasy']"

In [13]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,950387,A Minecraft Movie,Four misfits find themselves struggling with o...,"['Family', 'Comedy', 'Adventure', 'Fantasy']","['friendship', 'surrealism', 'exploration', 'p...","['Jason Momoa', 'Jack Black', 'Sebastian Eugen...","['Producer: Roy Lee', 'Director: Jared Hess', ..."
1,1195430,Deva,"Dev Ambre, a ruthless cop, loses his memory in...","['Action', 'Thriller', 'Mystery', 'Crime']","['remake', 'based on movie', 'bollywood']","['Shahid Kapoor', 'Pooja Hegde', 'Pavail Gulat...","['Director: Rosshan Andrrews', 'Producer: Sidd..."
2,1447439,Deva,"Dev Ambre, a ruthless cop, loses his memory in...","['Action', 'Thriller', 'Mystery', 'Crime']","['remake', 'based on movie', 'bollywood']","['Shahid Kapoor', 'Pooja Hegde', 'Pavail Gulat...","['Director: Rosshan Andrrews', 'Writer: Sumit ..."
3,1229730,Carjackers,"By day, they're invisible—valets, hostesses, a...","['Action', 'Adventure']",[],"['Zoé Marchal', 'Franck Gastambide', 'Bosh', '...",['Director: Kamel Guemra']
4,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...,"['Action', 'Thriller', 'Science Fiction']","['hero', 'superhero', 'revenge', 'aftercredits...","['Anthony Mackie', 'Harrison Ford', 'Danny Ram...","['Producer: Kevin Feige', 'Director: Julius On..."

In [14]:
 movies['crew'][0]

"['Producer: Roy Lee', 'Director: Jared Hess', 'Producer: Mary Parent', 'Producer: Vu Bui', 'Producer: Jason Momoa', 'Producer: Torfi Frans Ólafsson', 'Producer: Cale Boyter', 'Producer: Jill Messick', 'Producer: Jon Berg']"

In [15]:
#overview is a string so we are formatting that
movies['overview'] =  movies['overview'].apply(lambda x:x.split())

In [16]:
#now we need to combine two words so that sam worthington becomes samworthington
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,950387,A Minecraft Movie,"[Four, misfits, find, themselves, struggling, ...","[[, ', F, a, m, i, l, y, ', ,, , ', C, o, m, e...","[[, ', f, r, i, e, n, d, s, h, i, p, ', ,, , '...","[[, ', J, a, s, o, n, , M, o, m, o, a, ', ,, ,...","[[, ', P, r, o, d, u, c, e, r, :, , R, o, y, ,..."
1,1195430,Deva,"[Dev, Ambre,, a, ruthless, cop,, loses, his, m...","[[, ', A, c, t, i, o, n, ', ,, , ', T, h, r, i...","[[, ', r, e, m, a, k, e, ', ,, , ', b, a, s, e...","[[, ', S, h, a, h, i, d, , K, a, p, o, o, r, '...","[[, ', D, i, r, e, c, t, o, r, :, , R, o, s, s..."
2,1447439,Deva,"[Dev, Ambre,, a, ruthless, cop,, loses, his, m...","[[, ', A, c, t, i, o, n, ', ,, , ', T, h, r, i...","[[, ', r, e, m, a, k, e, ', ,, , ', b, a, s, e...","[[, ', S, h, a, h, i, d, , K, a, p, o, o, r, '...","[[, ', D, i, r, e, c, t, o, r, :, , R, o, s, s..."
3,1229730,Carjackers,"[By, day,, they're, invisible—valets,, hostess...","[[, ', A, c, t, i, o, n, ', ,, , ', A, d, v, e...","[[, ]]","[[, ', Z, o, é, , M, a, r, c, h, a, l, ', ,, ,...","[[, ', D, i, r, e, c, t, o, r, :, , K, a, m, e..."
4,822119,Captain America: Brave New World,"[After, meeting, with, newly, elected, U.S., P...","[[, ', A, c, t, i, o, n, ', ,, , ', T, h, r, i...","[[, ', h, e, r, o, ', ,, , ', s, u, p, e, r, h...","[[, ', A, n, t, h, o, n, y, , M, a, c, k, i, e...","[[, ', P, r, o, d, u, c, e, r, :, , K, e, v, i..."

In [18]:
#for tags that will help the recommendation we will create a new column tags and concatinate all the above 
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,950387,A Minecraft Movie,"[Four, misfits, find, themselves, struggling, ...","[[, ', F, a, m, i, l, y, ', ,, , ', C, o, m, e...","[[, ', f, r, i, e, n, d, s, h, i, p, ', ,, , '...","[[, ', J, a, s, o, n, , M, o, m, o, a, ', ,, ,...","[[, ', P, r, o, d, u, c, e, r, :, , R, o, y, ,...","[Four, misfits, find, themselves, struggling, ..."
1,1195430,Deva,"[Dev, Ambre,, a, ruthless, cop,, loses, his, m...","[[, ', A, c, t, i, o, n, ', ,, , ', T, h, r, i...","[[, ', r, e, m, a, k, e, ', ,, , ', b, a, s, e...","[[, ', S, h, a, h, i, d, , K, a, p, o, o, r, '...","[[, ', D, i, r, e, c, t, o, r, :, , R, o, s, s...","[Dev, Ambre,, a, ruthless, cop,, loses, his, m..."
2,1447439,Deva,"[Dev, Ambre,, a, ruthless, cop,, loses, his, m...","[[, ', A, c, t, i, o, n, ', ,, , ', T, h, r, i...","[[, ', r, e, m, a, k, e, ', ,, , ', b, a, s, e...","[[, ', S, h, a, h, i, d, , K, a, p, o, o, r, '...","[[, ', D, i, r, e, c, t, o, r, :, , R, o, s, s...","[Dev, Ambre,, a, ruthless, cop,, loses, his, m..."
3,1229730,Carjackers,"[By, day,, they're, invisible—valets,, hostess...","[[, ', A, c, t, i, o, n, ', ,, , ', A, d, v, e...","[[, ]]","[[, ', Z, o, é, , M, a, r, c, h, a, l, ', ,, ,...","[[, ', D, i, r, e, c, t, o, r, :, , K, a, m, e...","[By, day,, they're, invisible—valets,, hostess..."
4,822119,Captain America: Brave New World,"[After, meeting, with, newly, elected, U.S., P...","[[, ', A, c, t, i, o, n, ', ,, , ', T, h, r, i...","[[, ', h, e, r, o, ', ,, , ', s, u, p, e, r, h...","[[, ', A, n, t, h, o, n, y, , M, a, c, k, i, e...","[[, ', P, r, o, d, u, c, e, r, :, , K, e, v, i...","[After, meeting, with, newly, elected, U.S., P..."

In [20]:
new_df = movies[['movie_id','title','tags']]

In [21]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

C:\Users\harry\AppData\Local\Temp\ipykernel_18656\3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [22]:
new_df.head()

,movie_id,title,tags
0,950387,A Minecraft Movie,Four misfits find themselves struggling with o...
1,1195430,Deva,"Dev Ambre, a ruthless cop, loses his memory in..."
2,1447439,Deva,"Dev Ambre, a ruthless cop, loses his memory in..."
3,1229730,Carjackers,"By day, they're invisible—valets, hostesses, a..."
4,822119,Captain America: Brave New World,After meeting with newly elected U.S. Presiden...

In [23]:
new_df['tags'][0]

"Four misfits find themselves struggling with ordinary problems when they are suddenly pulled through a mysterious portal into the Overworld: a bizarre, cubic wonderland that thrives on imagination. To get back home, they'll have to master this world while embarking on a magical quest with an unexpected, expert crafter, Steve. [ ' F a m i l y ' ,  ' C o m e d y ' ,  ' A d v e n t u r e ' ,  ' F a n t a s y ' ] [ ' f r i e n d s h i p ' ,  ' s u r r e a l i s m ' ,  ' e x p l o r a t i o n ' ,  ' p o r t a l ' ,  ' m i n e r ' ,  ' f r i e n d s ' ,  ' s u r v i v a l ' ,  ' z o m b i e ' ,  ' b a s e d  o n  v i d e o  g a m e ' ,  ' a f t e r c r e d i t s s t i n g e r ' ,  ' d u r i n g c r e d i t s s t i n g e r ' ,  ' j o u r n e y ' ,  ' i m a g i n a t i o n ' ,  ' t e a m w o r k ' ,  ' f a n t a s y ' ,  ' b u i l d i n g ' ] [ ' J a s o n  M o m o a ' ,  ' J a c k  B l a c k ' ,  ' S e b a s t i a n  E u g e n e  H a n s e n ' ,  ' E m m a  M y e r s ' ,  ' D a n i e l l e  B r o o k s ' ,  ' J e n n i f e r  C o o l i d g e ' ,  ' R a c h e l  H o u s e ' ,  ' A l l a n  H e n r y ' ,  ' B r a m  S c o t t - B r e h e n y ' ,  ' M o a n a  W i l l i a m s ' ] [ ' P r o d u c e r :  R o y  L e e ' ,  ' D i r e c t o r :  J a r e d  H e s s ' ,  ' P r o d u c e r :  M a r y  P a r e n t ' ,  ' P r o d u c e r :  V u  B u i ' ,  ' P r o d u c e r :  J a s o n  M o m o a ' ,  ' P r o d u c e r :  T o r f i  F r a n s  Ó l a f s s o n ' ,  ' P r o d u c e r :  C a l e  B o y t e r ' ,  ' P r o d u c e r :  J i l l  M e s s i c k ' ,  ' P r o d u c e r :  J o n  B e r g ' ]"

In [24]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

C:\Users\harry\AppData\Local\Temp\ipykernel_18656\3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [25]:
new_df.head()

,movie_id,title,tags
0,950387,A Minecraft Movie,four misfits find themselves struggling with o...
1,1195430,Deva,"dev ambre, a ruthless cop, loses his memory in..."
2,1447439,Deva,"dev ambre, a ruthless cop, loses his memory in..."
3,1229730,Carjackers,"by day, they're invisible—valets, hostesses, a..."
4,822119,Captain America: Brave New World,after meeting with newly elected u.s. presiden...

In [26]:
pip install --user nltk

Requirement already satisfied: nltk in c:\python311\lib\site-packages (3.9.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: click in c:\python311\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\python311\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\python311\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\python311\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\python311\lib\site-packages (from click->nltk) (0.4.6)

In [27]:
import nltk

In [28]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [29]:
def stem(text):
    y = []

    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [30]:
new_df['tags'] = new_df['tags'].apply(stem )

C:\Users\harry\AppData\Local\Temp\ipykernel_18656\2147430937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem )

In [31]:
#text vectorization
!pip install scikit-learn
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

Requirement already satisfied: scikit-learn in c:\python311\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\python311\lib\site-packages (from scikit-learn) (2.2.3)
Requirement already satisfied: scipy>=1.6.0 in c:\python311\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\python311\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\python311\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [32]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [33]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'état'],
      shape=(5000,), dtype=object)

In [34]:
ps.stem('loved')

'love'

In [35]:
stem(
'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'
)

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [36]:
from sklearn.metrics.pairwise import cosine_similarity

In [37]:
similarity = cosine_similarity(vectors)

In [38]:
similarity[2]

array([0.        , 1.        , 1.        , ..., 0.21134099, 0.13259871,
       0.        ], shape=(4537,))

In [39]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [42]:
recommend('Deva')

Deva
Infinite
Wife Swap
My Cousin Vinny
Ferry 2

In [41]:
recommend('Deva')

Deva
Infinite
Wife Swap
My Cousin Vinny
Ferry 2